<div class="h-full grid grid-rows-3 grid-flow-col justify-center gap-2 p-5">
  <ng-container class="h-full" *ngFor="let pull of filteredPulls()">
    <div class="font-regular font-bold text-amber-400 flex items-center gap-2">
      <img class="w-10 h-10 rounded-full" src="{{getImg(pull)}}" alt="">
<!--      <ng-container *ngIf="isGuaranteed(pull) != null">-->
<!--      <app-tooltip class="w-40 fixed top-1/2" #elem [tooltip]="'win'"></app-tooltip>-->
      <fa-icon [icon]="faStar" [class.text-red-600]="!isWin5050(pull)"
                               [class.garant]="isWin5050(pull)"></fa-icon>
<!--      (mouseenter)="elem.setHidden(false)"-->
<!--      (mouseleave)="elem.setHidden(true)"></fa-icon>-->

      {{pull.name}}
      <span [style.color]="redGradiate(getPityFrom(pull))">{{getPityFrom(pull)}}</span></div>
  </ng-container>
</div>
