<div class="w-full flex flex-col items-center text-slate-300 gap-10">
  <div class="flex w-full gap-10">
    <app-wish-card [title]="'Avarage pity'" [color]="'#fcd34d'" [value]="getLegendaryPityPercentage(5)"
                   class="flex-grow"></app-wish-card>
    <app-wish-card [title]="'Avarage pity'" [color]="'#9a1ce3'" [value]="getLegendaryPityPercentage(4)"
                   class="flex-grow"></app-wish-card>
    <app-wish-card [title]="'Total mora spent'" [color]="'#2bfce0'" [value]="getTotalMoraSpent()"
                   class="flex-grow"></app-wish-card>
    <app-wish-card [title]="'Legendaries unlocked'" [color]="'#fcd34d'" [value]="getLegendaryCount()"
                   class="flex-grow"></app-wish-card>
  </div>
  <div class="flex w-full justify-between">
    <div class="flex">
      <app-wish-banner [selectedBanner]="selectedBanner"></app-wish-banner>
      <div>
        <app-wish-last-legendary [selectedBanner]="selectedBanner"></app-wish-last-legendary>
      </div>
    </div>
    <app-wish-ratio [selectedBanner]="selectedBanner"></app-wish-ratio>
  </div>
  <app-wish-table class="w-full" [selectedBanner]="selectedBanner"></app-wish-table>
</div>
