<div class="w-screen h-screen flex justify-center items-center text-gray-300">
  <div class="flex flex-col items-center font-main gap-5">
    <img src="https://media.tenor.com/LqpCyUr6jNsAAAAC/pompom-honkai-star-rail.gif" alt="">
    <div>Something went wrong :(</div>
    <div>Please <a href="/registration/token"><span class="text-blue-600 underline">try again</span></a> or contact me</div>
    <a href="https://github.com/teheidoma" target="_blank"><div class="text-blue-600 underline">GITHUB</div></a>
  </div>
</div>

